@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Global Style such as holder of container and containers */
.header {
    position: sticky;
    top: 0;
    background-color: #fff; /* Background color for better visibility */
    z-index: 1000; /* Ensure the header is on top */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow for separation */
}

.header__container > .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

/* Website Logo design */
.header__container .content .logo img {
    width: 150px; /* Setting a fixed width for the logo */
}

/* Toggle Menu */
.toggleMenu {
    display: none; /* Hide the checkbox */
}

.toggle__label {
    font-size: 1.5rem;
    position: absolute;
    right: 10%;
    z-index: 10000;
    cursor: pointer;
    
}

#checkbox:checked ~ nav {
    transform: translateX(-100%);
}
#checkbox:checked ~ .toggle__label{
    color: #ffff;
}

.header__container .content nav {
    position: fixed;
    right: -100%;
    transform: translateX(100%);
    top: 0;
    width: 80%;
    height: 100%;
    background-color: #111111;
    padding: 2rem;
    transition: transform 0.5s ease-in-out;
}

.header__container .content nav .main-nav {
    list-style-type: none;
    margin: 5rem 0;
}

.header__container .content nav .main-nav li {
    margin: 1rem 0;
}

.header__container .content nav .main-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}


/* Hero */
.hero__container {
    height: 70vh; /* Correct the calc usage */
    display: flex;
    align-items: center;    
    justify-content: center;
    background-image: url('background.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    border-image: fill 0 linear-gradient(#0001, #000);
}

.hero__container > .content{
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}
.hero__container .content  > p:nth-child(1){
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
}
.hero__container .content > h1{
    font-size: 2.3rem;
    font-weight: 200;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #E4DADA;
}

.hero__container .content > p{
    color: #E4DADA;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 2rem;
}
.hero__container .content > a {
    background-color: #A33F3F;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px; /* Adding some rounding for better aesthetics */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.hero__container .content > a :hover {
    background-color: #902C2C; /* Add a hover effect */
}

/* Divider */
.divider {
    width: 100%;
    margin-top: -2rem;
    transform: rotate(180deg);
    overflow: hidden; /* To hide any overflow */
}

.divider svg {
    display: block;
    width: 100%;
}

/* Line Divider */
.line {
    width: 5%;
    height: 2px;
    background-color: #D49CA4;
    margin: 1rem 0;
}